@font-face {
  font-family: RalewayExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: RalewayMedium;
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: RalewayBold;
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: RalewaySemiBold;
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: RalewayLight;
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: NexaBold;
  src: url(../fonts/Nexa-Bold.otf);
}

@font-face {
  font-family: NexaLight;
  src: url(../fonts/Nexa-Light.otf);
}

.carousel-control-next, .carousel-control-prev {
  width: 10% !important;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.modal-dialog {
  max-width: 595px !important;
}

body, html {
  margin: 0 !important;
}

header {
  height: 100px;
}

.section2 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
  text-align: center;
  width: 75%;
  z-index: 1;
}

.section2 {
  padding-top: 110px;
  display: relative;
  z-index: 0;
}

 .section2::before{
  content: url('../img/bigArrow.png');
  position: absolute;
  left: -278px;
  top: 950px;
}



.section3 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
  margin-bottom: 130px;
  z-index: 1;
}

.section4 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
  z-index: 1;
}

.section5 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
  margin-bottom: 100px;
}

.section6 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
}

.section7 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
}

.section8 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
}

.section9 h1 {
  font-family: RalewayBold;
  font-size: 60px !important;
  margin-top: 150px;
  margin-bottom: 75px
}

.section4 h2 {
  font-family: RalewayRegular;
  font-size: 50px !important;
}

.header-logo {
  width: 450px;
}

.header-logo img {
  width: 75%;
}

.animated-icon3 {
  width: 70px;
  height: 40px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
  background: #505C7D;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 40px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -15px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 35px;
  left: 8px;
}

#sidebar {
  width: 540px;
  position: fixed;
  top: 150px;
  right: -540px;
  height: 792px;
  z-index: 999;
  color: #6C6C6C;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.sideBarBlur {
  filter: blur(3px);
  filter: brightness(-8);
  background: #FFFFFF;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.components {
  position: absolute;
  top: 25%;
  left: 25%;
}

.components li a {
  font-family: RalewayMedium;
  font-size: 35px;
  color: #6C6C6C;
  text-decoration: none !important
}

.carousel-caption {
  left: 10% !important;
}

.components li {
  margin: 20px 0;
}

#sidebar.active {
  right: 0;
}

.section1 {
  margin-top: 100px;
}

.third-button {
  border: none !important;
  background-color: transparent;
  outline: none !important;
  margin-right: 100px;
  margin-bottom: 15px;
}

.carousel-control-next, .carousel-control-prev {
  color: black !important;
}

.carousel-control-next-icon {
  background-image: url(../img/right-arrow.svg) !important;
}

.carousel-control-prev-icon {
  background-image: url(../img/left-arrow.svg) !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 69px !important;
  height: 69px !important;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 0.7 !important;
}

.triangle-slider {
  width: 315px;
  height: 185px;
}

.triangle-slider img {
  width: 100%;
  transform: rotate(90deg);
}

.text-slider {
  display: flex;
  height: 100%;
}

.carousel-caption {
  width: 80%;
  height: 100%;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  background-color: #4F4F4F !important;
}

.sliderSettings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sliderSettings h1 {
  font-family: RalewayExtraBold;
  font-size: 60px;
  color: #4F4F4F;
  text-align: left;
}

.sliderSettings h3 {
  font-family: RalewayRegular;
  font-size: 30px;
  color: #4F4F4F;
  text-align: left;
}

.carousel-indicators {
  z-index: 10 !important;
}

.videoButton {
  width: 238px;
  height: 238px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 100px;
  z-index: 1;
}

.videoButton img {
  width: 100%;
}

.section3-img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.section3-img img {
  width: 100%;
}

.section3-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.section3-blocks:hover .section3-img,
.section3-blocks:hover~.section3-img {
  width: 130px;
  height: 130px;
}

.section3-blocks, .section5-blocks span {
  text-align: center;
  width: 200px;
}

.section5-blocks span {
  font-family: RalewayMedium;
  font-size: 20px;
  color: #707070;
}

.section5-blocks:hover .section5-img,
.section5-blocks:hover~.section5-img {
  width: 110px;
  height: 110px;
}

.section3-main-block, .section5-main-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
geometric2

.section3::before{
  content:"";
  background:url("../img/geometric2.png");
  repeat:no-repeat;
}

.section3photo{
  position: absolute;
width: 600px;
left: -250px;
}

.section2, .section3, .section4, .section5, .section6, .section7, .section9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4 {
  margin-top: 150px;
}



.section8 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1390px;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #F8F3F6, #EADDED);
  box-shadow: 9px 9px 80px -3px rgba(202, 202, 202, 1);
}

.section5-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 305px;
}

.section5-img {
  width: 96px;
  height: 96px;
  margin-bottom: 10px;
}

.section5-img img {
  width: 100%;
}

.section6 {
  margin-top: 200px;
}

.section6-first-div, .section6-second-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6-img {
  width: 350px;
  height: 280px;
}

.section6-img img {
  width: 100%;
}

.section6-blocs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section6-blocs span {
  width: 190px;
  text-align: center;
}

.section6-arrow {
  width: 250px;
  margin: 0 -45px;
}

.section6-arrow img {
  width: 100%;
}

.margin-top40px {
  margin-top: 40px;
}

.margin-top60px {
  margin-top: 60px;
}

.radioButtonVorder {
  border: 2px solid #7A7A7A;
}

.margin-bottom31px {
  margin-bottom: 31px;
}

.margin-top58px {
  margin-top: 58px;
}

.margin-top20px {
  margin-top: 20px;
}

.margin-left80px {
  margin-left: 80px;
}

.section6-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section6-blocks span {
  text-align: center;
}

.margin-top-85px {
  margin-top: 85px;
}

.big-numbers {
  color: #4C597D;
  font-weight: bold;
  font-size: 141px;
}

.section7-img {
  width: 300px;
}

.section7-img img {
  width: 100%;
}

.section7-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  margin: 0 40px;
}

.section7-blocks:hover {
  box-shadow: 0 0 15px #CFCFCF;
  background-image: linear-gradient(to right, #E6E6E6, #E6E6E6);
}

.section7BlocksHover {
  box-shadow: 0 0 15px #CFCFCF;
  background-image: linear-gradient(to right, #E6E6E6, #E6E6E6);
}

.section7-blocks span {
  text-align: center;
}

.section7-type-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.submitButton, .submitButtonStartaper, .submitButtonExpert {
  background-image: linear-gradient(to left, #90DEC5, #ACDE95);
  height: 60px;
  width: 240px;
  font-family: RalewayMedium;
  font-size: 17px;
  color: #444444;
  border: none !important
}

.submitButtonStartaper {
  background-image: linear-gradient(to right, #EBDA6A, #F3EDB1);
}

.submitButtonExpert {
  background-image: linear-gradient(to right, #FFA5A1, #F8B99D);
}

.section7-form {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.sliderText {
  display: flex;
  flex-direction: column;
  color: #4F4F4F;
  width: 1300px;
  text-align: left;
  justify-content: flex-end;
}

.sliderH3 {
  font-family: RalewayExtraBold;
  font-size: 54px;
}

.triangleSection4 {
  margin-top: -385px;
}

.triangleClass {
  width: 915px;
  position: relative;
  margin-top: 100px;
}


.section5 {
  margin-top: 250px;
}

#pirpleTriangle {
  width: 89px;
  height: 82px;
  margin-left: 308px;
}

#pirpleTriangle img {
  width: 500px;
  margin-bottom: -36px;
  position: absolute;
  top: -60px;
  left: 3px;
}

#pirpleTriangle img:last-child{
  display: none;
}

#pirpleTriangle:hover {
  background-image: url(../img/purpleWithBlack.png);
}

#pirpleTriangle::before {
  content: "Резиденты LIT";
  left: 105px;
  position: absolute;
  top: -60px;
  font-family: RalewaySemiBold;
  font-size: 35px;
  color: #585858;
  cursor: pointer;
  z-index: 2;
}

#blueTriangle {
  width: 89px;
  height: 77px;
  margin-left: 420px;
  margin-top: -77px;
}

#blueTriangle img {
  width: 390px;
  position: absolute;
  top: -25px;
  left: 390px;
}

#blueTriangle img:last-child{
  display: none;
}

#blueTriangle:hover {
  background-image: url(../img/blueWithBlack.png);
}

#blueTriangle::before {
  content: "Образование";
  right: 170px;
  position: absolute;
  top: -49px;
  font-family: RalewaySemiBold;
  font-size: 35px;
  color: #585858;
  cursor: pointer;
  z-index: 2;
}

#greenTriangle {
  width: 89px;
  height: 85px;
  margin-left: 462px;
  margin-top: 11px;
}

#greenTriangle img{
  width: 470px;
  position: absolute;
  top: 45px;
  left: 400px;
  z-index: 1
}

.secondPhotoSection4{
  display: none;
}

#greenTriangle::before {
  content: "Предприниматели";
  right: 50px;
  position: absolute;
  top: 119px;
  font-family: RalewaySemiBold;
  font-size: 35px;
  color: #585858;
  cursor: pointer;
  z-index: 2
}

#greenTriangle:hover::before #greenTriangle.secondPhotoSection4  {
  display: block;
  z-index: 3;
}

#greenTriangle:hover::before #greenTriangle.firstPhoto  {
  display: none !important ;
  z-index: 0;
}

.#greenTriangle:hover::before body{
display: none !important;
}

#yellowTriangle {
  width: 89px;
  height: 87px;
  margin-left: 425px;
  margin-top: 5px;
}

#yellowTriangle img{
  width: 411px;
  position: absolute;
  top: 148px;
  left: 384px;
}

#yellowTriangle img:last-child{
  display: none;
}

#yellowTriangle:hover {
  background-image: url(../img/yellowWithBlack.png);
}

#yellowTriangle::before {
  content: "Стартаперы";
  right: 206px;
  position: absolute;
  bottom: -30px;
  font-family: RalewaySemiBold;
  font-size: 35px;
  color: #585858;
  cursor: pointer;
  z-index: 2;
}

#peachTriangle {
  width: 89px;
  height: 100px;
  margin-left: 305px;
  margin-top: -92px;
}

#peachTriangle img{
  width: 405px;
  position: absolute;
  top: 146px;
  left: 46px;
}

#peachTriangle img:last-child{
  display: none;
}

#peachTriangle:hover {
  background-image: url(../img/peachWithBlack.png);
}

#peachTriangle::before {
  content: "Инвесторы";
  left: 100px;
  position: absolute;
  bottom: -7px;
  font-family: RalewaySemiBold;
  font-size: 35px;
  color: #585858;
  cursor: pointer;
  z-index: 2;
}

#pinkTriangle {
  width: 89px;
  height: 68px;
  position: absolute;
  top: 106px;
  left: 300px;
}

#pinkTriangle img{
  width: 405px;
  position: absolute;
  top: -45px;
  left: -282px;
}

#pinkTriangle img:last-child{
  display: none;
}

#pinkTriangle:hover #pinkTriangle img:last-child{
  display: block !important;
}
#pinkTriangle:hover #pinkTriangle img:first-child{
  display: none !important;
}


#pinkTriangle::before {
  content: "Эксперты";
  left: -210px;
  position: absolute;
  bottom: 57px;
  font-family: RalewaySemiBold;
  font-size: 35px;
  color: #585858;
}

.raleway50R {
  font-family: RalewayRegular;
  font-size: 50px !important;
}

.color686868 {
  color: #686868;
}

.raleway40R {
  font-family: RalewayRegular;
  font-size: 40px;
}

.raleway25M {
  font-family: RalewayMedium;
  font-size: 25px;
}

.color333333 {
  color: #333333;
}

.raleway25B {
  font-family: RalewayBold;
  font-size: 25px;
}

.raleway72B {
  font-family: RalewayBold;
  font-size: 60px !important;
  color: #585858;
  margin-bottom: 30px;
}



.raleway25 {
  font-family: RalewayLight;
  font-size: 25px;
}

.raleway25R {
  font-family: RalewayRegular;
  font-size: 25px !important;
}

.raleway20R {
  font-family: RalewayRegular;
  font-size: 20px;
}

.nexaBold45px {
  font-family: NexaBold;
  font-weight: 45px;
  color: #4C597D;
}

.sliderButton {
  width: 230px;
  height: 66px;
  background-color: transparent;
  border: 4px solid #4F4F4F;
  font-family: RalewayBold;
  font-size: 23px;
  color: #4F4F4F;
}

.section7FirstDiv {
  width: 900px;
  margin-right: 50px;
}

.secondForm {
  width: 430px;
  height: 475px;
  border-radius: 10%;
  box-shadow: 10px 9px 61px 6px rgba(214, 214, 214, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondForm p {
  font-family: RalewayRegular;
  font-size: 18px;
  color: #585858;
  text-align: center;
  width: 425px;
}

.form-group {
  width: 80%;
}

.form-group label {
  font-family: RalewayLight;
  font-size: 15px;
  color: #585858;
  opacity: 0.4;
  margin-bottom: 0 !important;
}

.form-control {
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  background-color:transparent !important;
}

.form-control:active{
  background-color:transparent !important;
}

input[type="radio"] {
  color: #ffffff;
}

input[type="radio"]+label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 7% 65px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #464646;
}

.section7{
  margin-bottom: 150px;
}

#dotForInv{
  margin-top: 110px !important;
}

#dotForStar{
  margin-top: 40px !important;
}

#dotForExp1{
  margin-top: 40px !important;
}

#dotForExp2{
  margin-top: 20px !important;
}

input[type="radio"] {
  display: none;
}

.firstFormEmployer+label span {
  color: #ffffff;
}

.firstFormEmployer+label p {
  border: 2px solid #7A7A7A;
}

.firstFormEmployer:checked+label span {
  background-color: #464646;
}

.firstFormEmployer:checked+label p {
  background-image: linear-gradient(to right, #A0DFBB, #ACDE95);
  box-shadow: 13px 12px 80px -3px rgba(136, 214, 133, 0.5);
  border: none;
}

.firstFormEmployer+label span,
.firstFormEmployer:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormEmployer+label span,
.firstFormEmployer:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormInvestor+label span {
  color: #ffffff;
}

.firstFormInvestor+label p {
  border: 2px solid #7A7A7A;
}

.firstFormInvestor:checked+label span {
  background-color: #464646;
}

.firstFormInvestor:checked+label p {
  background-image: linear-gradient(to right, #F1C094, #F1CC82);
  box-shadow: 13px 12px 80px -3px #FFA600;
  border: none;
}

.firstFormInvestor+label span,
.firstFormInvestor:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormInvestor+label span,
.firstFormInvestor:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormStartaper+label span {
  color: #ffffff;
}

.firstFormStartaper+label p {
  border: 2px solid #7A7A7A;
}

.firstFormStartaper:checked+label span {
  background-color: #464646;
}

.firstFormStartaper:checked+label p {
  background-image: linear-gradient(to right, #EBDA6A, #F3EDB1);
  box-shadow: 13px 12px 80px -3px #DAD196;
  border: none;
}

.firstFormStartaper+label span,
.firstFormStartaper:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormStartaper+label span,
.firstFormStartaper:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormExpert+label span {
  color: #ffffff;
}

.firstFormExpert+label p {
  border: 2px solid #7A7A7A;
}

.firstFormExpert:checked+label span {
  background-color: #464646;
}

.firstFormExpert:checked+label p {
  background-image: linear-gradient(to right, #FFA5A1, #F8B99D);
  box-shadow: 13px 12px 80px -3px #F8BBA6;
  border: none;
}

.firstFormExpert+label span,
.firstFormExpert:checked+label span {
  transition: background-color 0.4s linear;
}

.firstFormStartaper+label span,
.firstFormStartaper:checked+label span {
  transition: background-color 0.4s linear;
}

.labelForm {
  display: flex;
  align-content: center;
}

.labelForm p {
  width: 830px;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 125px;
}

.litRegistration {
  background-image: linear-gradient(to left, #82A9DC, #557AA8);
  width: 170px;
  height: 40px;
  color: #FFFFFF;
  font-family: RalewayBold;
  font-size: 15px;
  border: none !important;
  outline: none !important;
}

.marginTop50px{
  margin-top: 50px;
}

.section8Img {
  width: 350px;
  height: 300px;
}

.section8Img img {
  width: 100%;
}

.section8-firstDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section8-firstDiv h3 {
  font-family: RalewayBold;
  font-size: 65px;
  width: 500px;
  color: #4B4B4B;
}

.section8-firstDiv span {
  font-family: RalewayRegular;
  font-size: 20px;
  color: #585858;
  margin-bottom: 40px;
}

.section8-firstDiv button {
  background-image: linear-gradient(to left, #C9B4DA, #BBA7CC);
  height: 60px;
  width: 200px;
  color: #FFFFFF;
  font-family: RalewayBold;
  font-size: 17px;
  box-shadow: 14px 14px 125px -17px rgba(194, 169, 215, 1);
  border: none !important;
  outline: none !important;
}

.marginLeftMin120px {
  margin-left: -120px;
}

.section8SecondDiv {
  display: flex;
  align-items: center;
}

.section8SecondDivSpan {
  font-family: NexaLight;
  font-size: 50px;
  color: #585858;
  opacity: 0.75;
}

.section9MainBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section9MainBlock div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.section9FirstSpan {
  font-family: NexaBold;
  font-size: 50px;
  color: #4C597D;
}

.section9SecondSpan {
  font-family: RalewayRegular;
  font-size: 20px;
  color: #4F4F4F;
  text-align: center;
}

.section9SecondDiv {
  background-image: url("../img/bigLine.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section9Variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 60px;
}

.section9Variants span {
  font-family: NexaLight;
  font-size: 40px;
  color: #596A8C;
}

.displayNone {
  display: none !important;
}

.section9Photos {
  background-image: url(../img/hexagon.png);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.section9Photos:hover {
  background-image: url(../img/hexagonWithLine.png);
  width: 250px;
  height: 250px;
}

.secondPhoto {
  background-image: url(../img/hexagonWithLine.png);
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.dislayNone {
  display: none;
}

.section9ThirdDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section9ThirdDiv p::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #585858;
  margin-right: 10px;
}

.section9ThirdDiv p {
  display: flex;
  align-items: center;
  font-family: RalewayLight;
  font-size: 30px;
  color: #585858;
}

footer {
  display: flex !important;
  align-items: center;
  height: 300px;
  color: #EBEBEB;
  border-top: 4px solid #E7E7E7
}

.footerFirstDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  height: 100%;
}

.footerABlocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footerABlocks a {
  width: 270px;
  height: 40px;
  font-family: RalewayMedium;
  font-size: 17px;
  color: #8A8A8A;
  text-decoration: none !important;
}

.footerABlocks a:hover {
  color: #464646;
}

.footerLogo {
  width: 350px;
}

.phone {
  display: flex;
  align-items: center;
}

.phone a {
  font-family: NexaLight;
  font-size: 15px;
  color: #4F535E;
  text-decoration: none !important;
}

.phone a:hover {
  color: #4F535E;
}

.iconPhone {
  width: 57px;
  height: 57px;
}

.iconPhone img {
  width: 100%;
}

.footerLogo img {
  width: 100%;
}

.footerLogoAndPhone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-right: 110px;
}

.footerSecondDiv {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.socialNet {
  display: flex;
  align-items: center;
}

.socialNet a {
  width: 80px;
  height: 80px;
}

.socialNet a img {
  width: 100%;
}

.emailPhoto {
  width: 40px;
  height: 40px;
}

.emailPhoto img {
  width: 100%;
}

.footerEmail {
  display: flex;
  align-items: center;
}

.footerEmail a {
  font-family: NexaLight;
  font-size: 15px;
  color: #4F535E;
  margin-left: 10px;
  text-decoration: none !important;
}

.labelCheckbox {
  display: flex;
  color: #333333;
  cursor: pointer;
  position: relative;
  align-items: center;
  width: 300px;
}

.labelCheckbox span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 30px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #707070;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 65px;
}

.labelCheckbox p {
  border: 2px solid #7A7A7A;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+label span {
  background-color: #707070;
}

input[type="checkbox"]:hover {
  span {
    background-color: #fff;
  }
}

.btn-secondary {
  width: 100% !important;
  background-color: white !important;
  border: none !important;
  border-bottom: 1px solid #ced4da !important;
  border-radius: 25px;
  color: #585858 !important;
}

.form-group button:hover {
  background-color: white !important;
  outline: none !important;
  border: none !important;
}

@media screen and (max-width:1550px){
  .apple-rss-content{
    zoom:0.6 !important;
  }
  body{
    zoom:0.6;
    -webkit-zoom:0.6;
  }
}
